*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
img{
    max-width: 100%;
}
.text-light{
    color: #ffff;
}
.container{
    max-width: 1150px;
    margin: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
img{
    max-width: 100%;
}
.text-light{
    color: #ffff;
}
.container{
    max-width: 1150px;
    margin: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.w-50{
    width: 48%;
}
.w-100{
    width: 100%;
}

/* header section */
.header-section {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background: #fff;
    display: block;
    width: 100%;
}
.header-logo{
    width: 30%;
}
.header-logo img {
    width: 60px;
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}
.header-logo h4 {
    margin-top: 23px;
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
}

.header-menu{
    width: 50%;
}
.header-menu ul{}
.header-menu ul li{
    display: inline-block;
}
.header-menu ul li a {
    display: block;
    padding: 0px 11px;
    color: black;
    font-size: 20px;
    line-height: 70px;
}
.header-menu ul li a:hover{}

.header-btn{
    width: 20%;
}
.header-btn a {
    display: inline-block;
    border: 2px solid #6278df;
    padding: 10px 27px;
    margin-top: 16px;
    color: #6278df;
    border-radius: 5px;
}
.header-btn a:hover{
    background-color: #6278df;
    color: #fff;
}

/* banner section */
.banner-section {
    background: url(https://i.ibb.co/rcCM7rd/image.jpg) no-repeat center;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    z-index: 1;
    margin-top: 72px;
}
.banner-section h5 {
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner-section h1 {
    color: #fff;
    font-size: 55px;
}
.banner-section a {
    color: #7d7d7d;
    background: #fff;
    display: inline-block;
    padding: 17px 22px;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 20px;
    transition: .4s;
}
.banner-section a:hover{
    background-color: #6278df;
    color: #fff;
}

.banner-section::after{
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0,0,0,.4);
    z-index: -1;

}

/* video secion */
.video-section{
    background-color: #f7f9ff;
    padding: 100px;
}

.video-left{}
.v-content{}
.v-content h3 {
    font-size: 40px;
    font-weight: 400;
}
.v-content p {
    font-size: 19px;
    margin-top: 15px;
    line-height: 1.5em;
}

/* about section */
.about-section{
    background-color: #ffffff;
    padding: 70px 0;
}
.about-content{}
.about-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.about-content p {
    font-size: 20px;
    margin-bottom: 80px;
}

.about-service{
    width: 31.3%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 2px 2px 3px 0 #dddd;
}
.about-service {
    width: 31.3%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 15px -6px 37px 0  #dddd;
    padding: 50px;
    margin-right: 2%;
    margin-bottom: 20px;
}
.about-service i{
    width: 55px;
    height: 120px;
    color: #6278df;
    font-size: 40px;
    font-weight: 800;
}

.about-service h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}
.about-service p {
    font-size: 19px;
    line-height: 1.6em;
}

/* service section */
service-section{
    background-color: #f7f7f7;
    padding: 50px 0;
}
.service-content{}
.service-content h1 {
    font-size: 50px;
    font-weight: 500;
}
.service-content p {
    margin-top: 20px;
    margin-bottom: 50px;
}

.service-items{
    width: 31.3%;
    margin-right: 2%;
    background-color: #ffffff;
    box-sizing: border-box;
}
.service-items .s-dollar{
    border-bottom: 5px solid #f7f7f7;
    padding: 30px;
    transition: .4s;
}
.service-items .s-dollar h4 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}
.service-items .s-dollar h1 {
    font-size: 50px;
    margin-bottom: 30px;
    background: #f5f5f5;
    padding-left: 5px;
}
.service-items .s-dollar h1 span {
    font-size: 20px;
}
.service-items .s-dollar h6 {
    font-size: 20px;
    font-weight: 600;
}
.service-items .s-dollar p {
    font-size: 18px;
    padding: 22px 0;
    line-height: 1.4em;
}

.s-list{
    padding: 30px;
}
.s-list ul{}
.s-list ul li {
    color: #85888c;
    font-size: 25px;
    margin: 25px 0;
}
.s-list ul li i{
    color: #6278df;
    font-size: 30px;
    margin-right: 20px;
}

.s-btn{
    text-align: center;
}
.s-btn a {
    background: white;
    display: block;
    padding: 17px 25px;
    margin-bottom: 29px;
    color: #6278df;
    border-radius: 10px;
    box-shadow: 4px 4px 15px 0 #818283;
    transition: .4s;
    font-weight: 700;
    font-size: 22px;
}
.service-items-3{
    margin-right: 0;
}
.s-1:hover .s-dollar{
    background-color: #6278df;
    color: #fff;
}
.s-2:hover .s-dollar{
    background-color: #6278df;
    color: #fff;
}
.s-3:hover .s-dollar{
    background-color: #6278df;
    color: #ffff;
}
.s-1:hover .s-btn a{
    background-color: #6278df;
    color: #fff;
}
.s-2:hover .s-btn a{
    background-color: #6278df;
    color: #fff;
}
.s-3:hover .s-btn a{
    background-color: #6278df;
    color: #fff;
}
.s-1:hover .s-dollar h1{
    background: transparent;
}
.s-2:hover .s-dollar h1{
    background: transparent;
}
.s-3:hover .s-dollar h1{
    background:transparent;

}

.teem-section {
    background-color: #fff;
    padding: 60px 0;
}
.teem-section h2 {
    font-size: 35px;
    font-weight: 500;
}

.teem-member {
    width: 23%;
    margin-right: 2%;
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 4px -5px 28px #ddd;
}
.teem-member img{}
.teem-member .member-data {
    margin-bottom: 20px;
}
.teem-member .member-data h3{
    padding-top: 15px;
    padding-bottom: 10px;
}


.newsletter-section{
    padding: 90px;
    background-color: #f7f9ff;
}
.newsletter-section p{}
.newsletter-section h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 30px;
}

.form{
    width: 60%;
    display: block;
    margin: auto;

}
.form .input{
    width: 50%;
    padding: 15px 5px;
    font-size: 20px;
    border: 2px solid #6278df;
    border-radius: 8px;
    outline: none;
}
.form button{
    cursor: pointer;
    padding: 15px 60px;
    background:#6278df;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    
}
.form button:hover{
    background-color: #fefefd;
    color: #6278df;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #6278df;
    box-shadow: 4px 2px 15px 0 #6278df;
}
.newsletter-section input:focus{
    box-shadow: 4px 5px 20px #6278df;
    border: 2px solid #6278df;
}



/* feature section */
.feature-section{
    background-color: #ffffff;
    padding: 100px 0;
}
.feature-section h3{
font-size: 33px;
font-weight: 500;
margin-bottom: 15px;
}
.feature-section p {
    font-size: 19px;
    line-height: 1.5em;
}

.feature-items {
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 2px 3px 15px 0 #ddd;
    margin-top: 90px;
    margin-right: 20px;
}
.feature-items img{
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
.feature-items .f-content {
    margin-top: 60px;
}
.item-2{
    margin-top: 58px;
}
.feature-items .f-content h3{}
.feature-items .f-content p{}



/* map section */
.footer-top{
  margin-bottom: 50px;
}
.footer-top .map{
    margin-right: 60px;
}
.footer-top .content{}
.footer-top .content h3{}
.footer-top .content p{}
.contact{
    width: 46% !important;
}
.contact-form input{
    border-radius: 5px;
    outline: none;
    border: 1px solid #6278df;
    padding: 15px 0 15px 10px;
    font-size: 20px;
}
.contact-form .email{
    display: block;
    width: 100%;
}
.contact-form .name{
    width: 47%;
    margin: 20px 0;
    float: left;
}
.contact-form .number{
    width: 47%;
    float: right ;
    margin-top: 20px;
    margin-right: -12px;
}
.contact-form .message{
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #6278df;
    padding: 15px 0 15px 10px;
    font-size: 20px;
    height: 140px;
}
.contact-form button{
    padding: 18px 75px;
    font-size: 20px;
    margin-top: 15px !important;
    background-color: #6278df;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    border: 1px solid transparent;
}
.contact h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 40px;
}
.contact p{
    line-height: 1.5em;
    margin-bottom: 20px;
    font-size: 18px;
}
.footer-section{}
.footer-section p{
    color: black;
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 0;
}
.contact-form input:focus{
    box-shadow: 4px 2px 15px 0 #6278df;
}
.contact-form textarea:focus{
    box-shadow: 4px 2px 15px 0 #6278df;
}
.contact-form button:hover{
    background-color: #fff;
    color: #6278df;
}




/* responsive css */

@media (max-width:1400px){}
@media (max-width:1200px){
    .header-logo img {
        margin-left: 25px;
    }
    .banner-section h1 {
        font-size: 40px;
    }
    .banner-section a {
        font-size: 17px;
        padding: 12px 4px;
    }
    .about-content h1 {
        font-size: 36px;
    }
    .about-service-div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media (max-width:992px){
    .header-logo h4 {
        font-size: 18px;
    }
    .header-menu ul li a {
        padding: 1px 5px;
        font-size: 18px;
    }
    .header-menu {
        display: flex;
        justify-content: center;
    }
    .v-content h3 {
        font-size: 33px;
    }
    .v-content p {
        font-size: 15px;
    }
}
@media (max-width:768px){
    .header-logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header-logo h4 {
        font-size: 22px;
    }
    .header-btn {
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }
    .header-menu {
        width: 60%;
    }
    .banner-section {
        padding: 160px 0;
    }
    .video.left{
        width: 100%;
    }
    .v-content {
        width: 100%;
        margin-top: 24px;
    }
}
@media (max-width:576px){
    .header-menu ul li a {
        padding: 0px 2px;
        font-size: 16px;
    }
    .header-menu {
        margin-left: 11px;
        box-sizing: border-box;
    }
    .v-content h3 {
        font-size: 28px;
    }
}

@media(max-width:440px){
    .header-btn a {
        padding: 7px 16px;
    }
    .header-menu {
        width: 70%;
    }
    .header-btn {
        width: 25%;
    }
}